.hidden {
    display: none;
}

.hamburger {
    margin-top: 10px;
    margin-left: 10px;
    height: 15px;
    width: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerLine {
    height: 3px;
    background: black;
}

.hamburgerLine.bold {
    background: orange;
}